<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="eventMapper">

	<resultMap id="eventResultMap" type="Event">
		<id column="EVENT_NO" property="eventNo" />
		<result column="EVENT_TITLE" property="eventTitle" />
		<result column="EVENT_CONTENT" property="eventContent" />
		<result column="EVENT_START_DATE" property="eventStart" />
		<result column="EVENT_LAST_DATE" property="eventLast" />
		<result column="EVENT_STATUS" property="eventStatus" />
	</resultMap>
	<resultMap id="eventAttachResultMap" type="Attachment">
		<id column="EV_AT_FILENO" property="fileNo" />
		<result column="EV_AT_ORIGN" property="originName" />
		<result column="EV_AT_NEWNAME" property="changeName" />
		<result column="EV_AT_LOCATION" property="fileLocation" />
		<result column="EV_AT_STATUS" property="fileStatus" />
		<result column="EV_AT_REF_NO" property="refEventNo" />
	</resultMap>

	<select id="selectEventListCount" resultType="_int">
		SELECT COUNT(*)
		FROM EVENT
		WHERE EVENT_STATUS = 'Y'
	</select>

	<select id="afterListCount" resultType="_int">
		SELECT COUNT(*)
		FROM EVENT
		WHERE EVENT_STATUS = 'D'
	</select>

	<select id="selectEventList" resultMap="eventResultMap">
		SELECT *
		FROM EVENT
		WHERE EVENT_STATUS = 'Y' 
		ORDER BY EVENT_NO DESC
	</select>
	
	<select id="afterList" resultMap="eventResultMap">
		SELECT *
		FROM EVENT
		WHERE EVENT_STATUS = 'D' 
		ORDER BY EVENT_NO DESC
	</select>

	<select id="selectEvent" parameterType="_int" resultMap="eventResultMap">
    	SELECT *
    	FROM EVENT
    	WHERE EVENT_NO=#{eno} AND EVENT_STATUS = 'Y'
   </select>
   
   <select id="selectEventAttach" parameterType="_int" resultMap="eventAttachResultMap">
   		SELECT *
    	FROM EVENT_ATTACHMENT
    	WHERE EV_AT_REF_NO=#{eno} AND EV_AT_STATUS = 'Y'
   </select>
   
   <insert id="insertEvent" parameterType="Event">
   		INSERT INTO EVENT
   		VALUES(SEQ_EV.NEXTVAL, #{eventTitle}, #{eventContent}, #{eventStart}, #{eventLast}, DEFAULT)
   </insert>
   
   <insert id="insertEventAttach" parameterType="Attachment" >
   		INSERT INTO EVENT_ATTACHMENT
   		VALUES(SEQ_EV_ATTA.NEXTVAL, #{originName}, #{changeName}, #{fileLocation}, #{fileStatus}, #{refEventNo})
   </insert>
   
   <update id="deleteEvent" parameterType="_int">
   		UPDATE EVENT
   		SET EVENT_STATUS = 'N'
   		WHERE EVENT_NO = #{eno}
   </update>
	
	<update id="updateEvent" parameterType="Event">
		UPDATE EVENT
		SET EVENT_TITLE=#{eventTitle}, EVENT_CONTENT=#{eventContent}, 
			EVENT_START_DATE=#{eventStart}, EVENT_LAST_DATE=#{eventLast}
		WHERE EVENT_NO=#{eventNo}
	</update>
	
</mapper>
