<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="eventMapper">

	<resultMap id="eventResultMap" type="Event">
		<id column="EVENT_NO" property="eventNo" />
		<result column="EVENT_TITLE" property="eventTitle" />
		<result column="EVENT_CONTENT" property="eventContent" />
		<result column="EVENT_START_DATE" property="eventStart" />
		<result column="EVENT_LAST_DATE" property="eventLast" />
		<result column="EVENT_STATUS" property="eventStatus" />
	</resultMap>
	<resultMap id="eventAttachResultMap" type="Attachment">
		<id column="EV_AT_FILENO" property="fileNo" />
		<result column="EV_AT_REF_NO" property="refEventNo" />
		<result column="EV_AT_ORIGIN" property="originName" />
		<result column="EV_AT_NEWNAME" property="changeName" />
	</resultMap>
	<resultMap id="eventReplyResultMap" type="EventReply">
		<id column="EV_REPLY_NO" property="eventReplyNo" />
		<result column="EV_REF_NO" property="refEventNo" />
		<result column="EV_REPLY_WRITER" property="eventReplyWriter" />
		<result column="EV_REPLY_CONTENT" property="eventReplyContent" />
		<result column="EV_REPLY_STATUS" property="eventReplyStatus" />
		<result column="EV_REPLY_DATE" property="eventReplyDate" />
	</resultMap>

	<!-- Event -->
	<select id="selectEventListCount" resultType="_int">
		SELECT COUNT(*)
		FROM EVENT
		WHERE EVENT_STATUS = 'Y'
	</select>

	<select id="afterListCount" resultType="_int">
		SELECT COUNT(*)
		FROM EVENT
		WHERE EVENT_STATUS = 'D'
	</select>

	<select id="selectEventList" resultMap="eventResultMap">
		SELECT *
		FROM EVENT
		WHERE EVENT_STATUS = 'Y' 
		ORDER BY EVENT_NO DESC
	</select>
	
	<select id="afterList" resultMap="eventResultMap">
		SELECT *
		FROM EVENT
		WHERE EVENT_STATUS = 'D' 
		ORDER BY EVENT_NO DESC
	</select>

   <insert id="insertEvent" parameterType="Event">
   		INSERT INTO EVENT
   		VALUES(SEQ_EV.NEXTVAL, #{eventTitle}, #{eventContent}, #{eventStart}, #{eventLast}, DEFAULT)
   </insert>
   
	<select id="selectEvent" parameterType="_int" resultMap="eventResultMap">
    	SELECT *
    	FROM EVENT
    	WHERE EVENT_NO=#{eno} AND EVENT_STATUS = 'Y'
   </select>
    
   <update id="deleteEvent" parameterType="_int">
   		UPDATE EVENT
   		SET EVENT_STATUS = 'N'
   		WHERE EVENT_NO = #{eno}
   </update>
	
	<update id="updateEvent" parameterType="Event">
		UPDATE EVENT
		SET EVENT_TITLE=#{eventTitle}, EVENT_CONTENT=#{eventContent}, 
			EVENT_START_DATE=#{eventStart}, EVENT_LAST_DATE=#{eventLast}
		WHERE EVENT_NO=#{eventNo}
	</update>
	
   <!-- attachment -->
   <select id="selectEventAttach" parameterType="_int" resultMap="eventAttachResultMap">
   		SELECT *
    	FROM EVENT_ATTACHMENT
    	WHERE EV_AT_REF_NO=#{eno}
   </select>
   
   <insert id="insertEventAttach" parameterType="java.util.List" >
   		insert into EVENT_ATTACHMENT(EV_AT_FILENO, EV_AT_REF_NO, EV_AT_ORIGIN, EV_AT_NEWNAME )
   		SELECT SEQ_EV_ATTA.NEXTVAL, SEQ_EV.CURRVAL, A.* 
   		FROM (<foreach collection="list" item="item" separator=" UNION ALL ">
   		 SELECT (to_clob(#{item.originName})), (to_clob(#{item.changeName})) from DUAL
   		</foreach>)	A
   </insert>
   
   <update id="updateEventAttach" parameterType="java.util.List">
		UPDATE EVENT_ATTACHMENT
		<foreach collection="list" item="item" separator=" UNION ALL ">
		SET EV_AT_ORIGIN=#{item.originName}, EV_AT_NEWNAME=#{item.changeName}
		WHERE EV_AT_FILENO=#{item.fileNo}
		</foreach>
	</update>
  
	
	<!-- Reply -->
	<insert id="insertReply" parameterType="EventReply">
		INSERT INTO EVENT_REPLY
		VALUES (SEQ_EV_REPLY.NEXTVAL, #{refEventNo}, #{eventReplyWriter}, #{eventReplyContent}, DEFAULT, SYSDATE)
	</insert>
	<select id="replyList" parameterType="_int" resultMap="eventReplyResultMap">
		SELECT EV_REPLY_NO,EV_REPLY_WRITER, EV_REPLY_CONTENT, EV_REPLY_DATE
		FROM EVENT_REPLY
		WHERE EV_REF_NO=#{eno} AND EV_REPLY_STATUS='Y'
		ORDER BY EV_REPLY_NO DESC
	</select>
	<update id="replyUpdate" parameterType="EventReply">
		UPDATE EVENT_REPLY
		SET EV_REPLY_CONTENT=#{eventReplyContent}
		WHERE EV_REPLY_NO=#{eventReplyNo}
	</update>
	<update id="deleteReply" parameterType="_int">
		UPDATE EVENT_REPLY
		SET EV_REPLY_STATUS = 'N'
		WHERE EV_REPLY_NO=#{replyNo}
	</update>
	
</mapper>
