<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="eventMapper">

	<resultMap id="eventResultMap" type="Event">
		<id column="EVENT_NO" property="eventNo" />
		<result column="EVENT_TITLE" property="eventTitle" />
		<result column="EVENT_CONTENT" property="eventContent" />
		<result column="EVENT_ORIGIN" property="eventOrigin" />
		<result column="EVENT_CHANGE" property="eventChange" />
		<result column="EVENT_START_DATE" property="eventStart" />
		<result column="EVENT_LAST_DATE" property="eventLast" />
		<result column="EVENT_STATUS" property="eventStatus" />
	</resultMap>
	
	<resultMap id="eventReplyResultMap" type="EventReply">
		<id column="EV_REPLY_NO" property="eventReplyNo" />
		<result column="EV_REF_NO" property="refEventNo" />
		<result column="EV_REPLY_WRITER" property="eventReplyWriter" />
		<result column="EV_REPLY_CONTENT" property="eventReplyContent" />
		<result column="EV_REPLY_STATUS" property="eventReplyStatus" />
		<result column="EV_REPLY_DATE" property="eventReplyDate" />
	</resultMap>

	<!-- Event -->
	<select id="selectEventListCount" resultType="_int">
	<![CDATA[
		SELECT COUNT(*)
		FROM EVENT
		WHERE EVENT_STATUS = 'Y' AND 
		TO_CHAR(SYSDATE, 'MM/DD') <= TO_CHAR(EVENT_LAST_DATE, 'MM/DD')
		]]>
	</select>

	<select id="afterListCount" resultType="_int">
	<![CDATA[
		SELECT COUNT(*)
		FROM EVENT
		WHERE EVENT_STATUS = 'Y' AND 
		TO_CHAR(SYSDATE, 'YYYYMMDD') >= TO_CHAR(EVENT_LAST_DATE, 'YYYYMMDD')
		]]>
	</select>

	<select id="selectEventList" resultMap="eventResultMap">
		<![CDATA[
		SELECT *
		FROM EVENT
		WHERE EVENT_STATUS = 'Y' AND 
		TO_CHAR(SYSDATE, 'YYYYMMDD') <= TO_CHAR(EVENT_LAST_DATE, 'YYYYMMDD')
		ORDER BY EVENT_NO DESC
		]]>
	</select>
	
	<select id="afterList" resultMap="eventResultMap">
	<![CDATA[
		SELECT *
		FROM EVENT
		WHERE EVENT_STATUS = 'Y' AND 
		TO_CHAR(SYSDATE, 'YYYYMMDD') >= TO_CHAR(EVENT_LAST_DATE, 'YYYYMMDD')
		ORDER BY EVENT_NO DESC
		]]>
	</select>

   <insert id="insertEvent" parameterType="Event">
   		INSERT INTO EVENT
   		VALUES(SEQ_EV.NEXTVAL, #{eventTitle}, #{eventContent}, #{eventOrigin}, #{eventChange}, #{eventStart}, #{eventLast}, DEFAULT)
   </insert>
   
	<select id="selectEvent" parameterType="_int" resultMap="eventResultMap">
    	SELECT *
    	FROM EVENT
    	WHERE EVENT_NO=#{eno} AND EVENT_STATUS = 'Y'
   </select>
    
   <update id="deleteEvent" parameterType="_int">
   		UPDATE EVENT
   		SET EVENT_STATUS = 'N'
   		WHERE EVENT_NO = #{eno}
   </update>
	
	<update id="updateEvent" parameterType="Event">
		UPDATE EVENT
		SET EVENT_TITLE=#{eventTitle}, EVENT_CONTENT=#{eventContent}, 
			EVENT_ORIGIN=#{eventOrigin}, EVENT_CHANGE=#{eventChange},
			EVENT_START_DATE=#{eventStart}, EVENT_LAST_DATE=#{eventLast}
		WHERE EVENT_NO=#{eventNo}
	</update>
	<select id="searchList" resultMap="eventResultMap">
		SELECT *
		FROM EVENT
		WHERE EVENT_STATUS = 'Y' AND EVENT_TITLE LIKE '%'||#{keyword}||'%' 
	</select>
   
	
	<!-- Reply -->
	<insert id="insertReply" parameterType="EventReply">
		INSERT INTO EVENT_REPLY
		VALUES (SEQ_EV_REPLY.NEXTVAL, #{refEventNo}, #{eventReplyWriter}, #{eventReplyContent}, DEFAULT, SYSDATE)
	</insert>
	<select id="replyList" parameterType="_int" resultMap="eventReplyResultMap">
		SELECT *
		FROM EVENT_REPLY
		WHERE EV_REF_NO=#{eno} AND EV_REPLY_STATUS='Y'
		ORDER BY EV_REPLY_NO DESC
	</select>
	<update id="replyUpdate" parameterType="EventReply">
		UPDATE EVENT_REPLY
		SET EV_REPLY_CONTENT=#{eventReplyContent}
		WHERE EV_REPLY_NO=#{eventReplyNo}
	</update>
	<update id="deleteReply" parameterType="_int">
		UPDATE EVENT_REPLY
		SET EV_REPLY_STATUS = 'N'
		WHERE EV_REPLY_NO=#{replyNo}
	</update>
	
	<select id="selectTopEventList" resultMap="eventResultMap">
		<![CDATA[		
			select A.*
			 from (select * from event
					where event_status='Y'
					order by event_last_date DESC) A
			where ROWNUM<3
		]]>
	</select>
	
</mapper>
