<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="fundingMapper">

	<resultMap id="fundingResultSet" type="Funding">
		<id property="fpNo" column="FP_NO" />
		<result property="fpName" column="FP_NAME" />
		<result property="hostName" column="HOST_NAME" />
		<result property="goalPrice" column="GOAL_PRICE" />
		<result property="startDate" column="START_DATE" />
		<result property="closeDate" column="CLOSING_DATE" />
		<result property="contents" column="CONTENTS" />
		<result property="paymetsDate" column="PAYMENT_DATE" />
		<result property="categoryName" column="FUNDING_CATEGORY_NAME" />
		<result property="categoryNo" column="CATEGORY_NO" />
		<result property="hits" column="HITS" />
		<result property="status" column="STATUS" />
		<result property="thumbnailOriginName" column="THUMBNAIL_ORIGIN_NAME" />
		<result property="thumbnailChangeName" column="THUMBNAIL_CHANGE_NAME" />
		<result property="fpWriteDate" column="FP_WRITE_DATE" />
	</resultMap>

	<select id="selectFundingListCount" resultType="_int">
		SELECT COUNT(*)
		FROM FUNDING_PROJECT
		WHERE STATUS='Y'
	</select>
	
	<select id="selectFundingList" resultMap="fundingResultSet">
		SELECT FP_NO,FP_NAME,HOST_NAME,GOAL_PRICE,START_DATE,CLOSING_DATE
		,CATEGORY_NO,HITS, THUMBNAIL_ORIGIN_NAME, THUMBNAIL_CHANGE_NAME,FUNDING_CATEGORY_NAME
		from FUNDING_PROJECT
		JOIN FUNDING_CATEGORY ON CATEGORY_NO =FUNDING_CATEGORY_NO
	</select>
</mapper>
