<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="fundingMapper">
	
	<!-- 펀딩 카테고리 -->
	<resultMap id="fundingCategoryResultSet" type="FundingCategory">
		<id property="categoryNo" column="FUNDING_CATEGORY_NO" />
		<result property="categoryName" column="FUNDING_CATEGORY_NAME" />
	</resultMap>
	<!-- 펀딩 프로젝트 -->
	<resultMap id="fundingResultSet" type="Funding">
		<id property="fpNo" column="FP_NO" />
		<result property="fpName" column="FP_NAME" />
		<result property="hostName" column="USER_NAME" />
		<result property="goal" column="GOAL" />
		<result property="raised" column="RAISED" />
		<result property="hostId" column="HOST_ID" />
		<result property="startDate" column="START_DATE" />
		<result property="closeDate" column="CLOSING_DATE" />
		<result property="content" column="CONTENT" />
		<result property="paymentDate" column="PAYMENT_DATE" />
		<result property="categoryName" column="FUNDING_CATEGORY_NAME" />
		<result property="categoryNo" column="CATEGORY_NO" />
		<result property="hits" column="HITS" />
		<result property="status" column="STATUS" />
		<result property="thumbnailOriginName" column="THUMBNAIL_ORIGIN_NAME" />
		<result property="thumbnailChangeName" column="THUMBNAIL_CHANGE_NAME" />
		<result property="fpWriteDate" column="FP_WRITE_DATE" />
		<result property="numberSupporter" column="NUMBER_SUPPORTER" />
		<result property="dDay" column="D_DAY" />
	</resultMap>
	
	<!-- 펀딩 이미지 -->
	<resultMap id="fundingImageResultSet" type="FundingImage">
		<id property="fpNo" column="FP_NO" />
		<id property="imgNo" column="IMG_NO" />
		<result property="imgOriginName" column="IMG_ORIGIN_NAME" />
		<result property="imgChangeName" column="IMG_CHANGE_NAME" />
	</resultMap>

	<!-- 펀딩 굿즈  -->
	<resultMap id="fundingGoodsResultSet" type="FundingGoods">
		<id property="fpNo" column="FP_NO" />
		<id property="fgNo" column="FG_NO" />
		<result property="fgName" column="FG_NAME" />
		<result property="fgContent" column="FG_CONTENT" />
		<result property="fgPrice" column="FG_PRICE" />
	</resultMap>
	
	<!-- 펀딩 댓글 -->
	<resultMap id="fundingReplyResultSet" type="FundingReply">
		<id property="replyNo" column="REPLY_NO" />
		<id property="writerId" column="REPLY_WRITER" />
		<result property="refFundingNo" column="REF_FUNDING_NO" />
		<result property="replyContent" column="REPLY_CONTENT" />
		<result property="createDate" column="CREATE_DATE" />
		<result property="status" column="STATUS" />
		<result property="writerNickName" column="USER_NICK" />
	</resultMap>
	
	<!-- 펀딩 후원 -->
	<resultMap id="fundingSupporterResultSet" type="FundingSupporter">
		<id property="fsNo" column="FS_NO" />
		<id property="fpNo" column="FP_NO" />
		<result property="fpSupporter" column="FP_SUPPORTER" />
		<result property="fpSupportDate" column="FP_SUPPORT_DATE" />
		<result property="fpPrice" column="FP_PRICE" />
		<result property="fgNo" column="FG_NO" />
		<result property="takeName" column="TAKE_NAME" />
		<result property="takeAddress" column="TAKE_ADDRESS" />
		<result property="takePhone" column="TAKE_PHONE" />
		<result property="takePostCode" column="TAKE_POSTCODE" />
	</resultMap>
	
	<select id="selectFundingListCount" parameterType="FundingFilterOrder" resultType="_int">
		select COUNT(*)
		from FUNDING_PROJECT
		where STATUS='Y'
		<if test="categoryNo!=0">
			AND CATEGORY_NO = #{categoryNo}
		</if>
		<if test="period!=null and !period.equals('')">
			AND ${period}
		</if>
		<if test="search!=null and !search.equals('')">
			AND FP_NAME LIKE '%'||#{search}||'%'
		</if>
	</select>
	
	
	<select id="selectFundingList" parameterType="FundingFilterOrder" resultMap="fundingResultSet">
		select FP_NO, FP_NAME, B.USER_NAME, GOAL,RAISED, START_DATE, CLOSING_DATE
    		, A.CATEGORY_NO, HITS, THUMBNAIL_ORIGIN_NAME
    		, THUMBNAIL_CHANGE_NAME, C.FUNDING_CATEGORY_NAME,CLOSING_DATE-START_DATE AS "D_Day"
		from FUNDING_PROJECT A
			join MEMBER B on A.HOST_ID=B.USER_ID
			join FUNDING_CATEGORY C on A.CATEGORY_NO = C.FUNDING_CATEGORY_NO
		where A.STATUS='Y'
		<if test="categoryNo != 0 ">
			AND A.CATEGORY_NO = #{categoryNo}
		</if>
		<if test="period != null and !period.equals('')">
			AND ${period}
		</if>
		<if test="search != null and !search.equals('')">
			AND FP_NAME LIKE '%'||#{search}||'%'
		</if>
		<if test="order != null and !order.equals('')">
			ORDER BY ${order}
		</if>
	</select>
	
	<select id="selectFundingCategoryList" resultMap="fundingCategoryResultSet">
		select FUNDING_CATEGORY_NO, FUNDING_CATEGORY_NAME
		from FUNDING_CATEGORY
	</select>
	
	<insert id="insertFunding" parameterType="Funding">
		<selectKey keyProperty="fpNo" resultType="int" order="AFTER">
			select seq_funding_project.currval from dual
			
		</selectKey>
		insert into FUNDING_PROJECT(
				FP_NO, FP_NAME, HOST_ID, GOAL
				,RAISED, START_DATE, CLOSING_DATE
				,CONTENT,PAYMENT_DATE,CATEGORY_NO,HITS
				,STATUS,THUMBNAIL_ORIGIN_NAME,THUMBNAIL_CHANGE_NAME,NUMBER_SUPPORTER,FP_WRITE_DATE)
		values
		(	
			seq_funding_project.nextval, #{fpName}, #{hostId}, #{goal}
			, default, TO_DATE(#{startDate}), TO_DATE(#{closeDate})
			, #{content}, TO_DATE(#{paymentDate}), #{categoryNo}, DEFAULT
			,DEFAULT ,#{thumbnailOriginName}, #{thumbnailChangeName}, DEFAULT, SYSDATE
		)

	</insert>
	
	<insert id="insertFundingImgList" parameterType="java.util.List">
		insert into FUNDING_IMAGE(FP_NO, IMG_NO, IMG_ORIGIN_NAME, IMG_CHANGE_NAME)
		<foreach collection="list" item="item" separator=" UNION ALL ">
			select #{item.fpNo},#{item.imgNo},#{item.imgOriginName},#{item.imgChangeName} from DUAL
		</foreach>
	</insert>
	
	<insert id="insertFundingGoodsList" parameterType="java.util.List">
		insert into FUNDING_GOODS(FP_NO, FG_NO, FG_NAME, FG_CONTENT, FG_PRICE)
		<foreach collection="list" item="item" separator=" UNION ALL ">
			select #{item.fpNo},#{item.fgNo},#{item.fgName},#{item.fgContent},#{item.fgPrice} from DUAL
		</foreach>
	</insert>
	
	<select id="selectFunding" parameterType="_int" resultMap="fundingResultSet">
		SELECT FP_NO,FP_NAME,HOST_ID,GOAL,RAISED,START_DATE,CLOSING_DATE,
			CONTENT,PAYMENT_DATE,C.FUNDING_CATEGORY_NAME,HITS,
			THUMBNAIL_ORIGIN_NAME,THUMBNAIL_CHANGE_NAME,NUMBER_SUPPORTER,FP_WRITE_DATE
		FROM FUNDING_PROJECT A
		JOIN MEMBER B ON USER_ID=HOST_ID
		JOIN FUNDING_CATEGORY C ON A.CATEGORY_NO=C.FUNDING_CATEGORY_NO
		WHERE A.STATUS='Y'
		AND A.FP_NO=#{fpNo}
	</select>
	
	<select id="selectFundingImage" parameterType="_int" resultMap="fundingImageResultSet">
		SELECT FP_NO, IMG_NO, IMG_ORIGIN_NAME, IMG_CHANGE_NAME
		FROM FUNDING_IMAGE
		WHERE FP_NO=#{fpNo}
	</select>
	
	<select id="selectFundingGoodsList" parameterType="_int" resultMap="fundingGoodsResultSet">
		SELECT FP_NO ,FG_NO,FG_NAME,FG_CONTENT,FG_PRICE
		FROM FUNDING_GOODS
		WHERE FP_NO=#{fpNo}
	</select>
	
	
	<select id="selectFundingReplyList" parameterType="_int" resultMap="fundingReplyResultSet">
		SELECT A.REPLY_NO,A.REPLY_WRITER,A.REF_FUNDING_NO,A.CREATE_DATE,A.REPLY_CONTENT,USER_NICK
		FROM FUNDING_REPLY A
		JOIN MEMBER B ON A.REPLY_WRITER= B.USER_ID
		WHERE REF_FUNDING_NO=#{fpNo}
			AND A.STATUS='Y'
	</select>
	
	
	<insert id="insertFundingReply" parameterType="fundingReply">
		INSERT INTO FUNDING_REPLY(REPLY_NO, REPLY_WRITER, REF_FUNDING_NO, CREATE_DATE,REPLY_CONTENT,STATUS)
		VALUES (SEQ_FUNDING_REPLY.NEXTVAL, #{writerId},#{refFundingNo},sysdate,#{replyContent},default)
	</insert>
	
	<update id="deleteFundingReply" parameterType="_int">
		update FUNDING_REPLY
		set STATUS='N'
		where REPLY_NO=#{replyNo}
	</update>
	
	<update id="updateFundingReply" parameterType="fundingReply">
		update FUNDING_REPLY
		set REPLY_CONTENT=#{replyContent}
		where REPLY_NO=#{replyNo}
	</update>
	
	<insert id="insertFundingSupporter" parameterType="fundingSupporter">
		INSERT INTO FUNDING_SUPPORTER(FS_NO,FP_NO,FP_SUPPORTER,FP_SUPPORT_DATE,FP_PRICE,FG_NO
						,TAKE_NAME,TAKE_ADDRESS,TAKE_PHONE,TAKE_POSTCODE)
		VALUES(NVL((SELECT MAX(FS_NO) FROM FUNDING_SUPPORTER WHERE FP_NO=#{fpNo}),0)+1,#{fpNo},#{fpSupporter},sysdate,#{fpPrice},#{fgNo},
		#{takeName},#{takeAddress},#{takePhone},#{takePostCode})
	</insert>
	
		
	<update id="updateFundingHitsCount" parameterType="_int">
		update FUNDING_PROJECT
		set HITS=HITS+1
		where FP_NO=#{fpNo}
	</update>
		
	<select id="selectTopFundingList" resultMap="fundingResultSet">
			<![CDATA[
		select A.FP_NO ,A.FP_NAME, A.GOAL, A.RAISED, A.THUMBNAIL_CHANGE_NAME,A.THUMBNAIL_ORIGIN_NAME,A.START_DATE, A.CLOSING_DATE
		from(select FP_NO ,FP_NAME, GOAL, RAISED, THUMBNAIL_CHANGE_NAME,THUMBNAIL_ORIGIN_NAME,START_DATE, CLOSING_DATE
				from FUNDING_PROJECT
				where status='Y'
				order by hits
			) A
		where ROWNUM <= 4
	]]>
	</select>
</mapper>
