<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="noticeMapper">

	<resultMap id="noticeResultMap" type="Notice">
		<id column="no_no" property="noticeNo" />
		<result column="rownum" property="rowNum"/>
		<result column="no_title" property="noticeTitle" />
		<result column="no_content" property="noticeContent" />
		<result column="no_date" property="noticeDate" />
		<result column="user_name" property="noticeWriter" />
		<result column="no_count" property="noticeCount" />
		<result column="no_save" property="noticeSave" />
		<result column="no_origin" property="noticeOrigin" />
		<result column="no_new" property="noticeNew" />
	</resultMap>
	
	

	<select id="selectNoticeListCount" resultType="_int" parameterType="Search">
		SELECT COUNT(*)
		FROM NOTICE
		JOIN MEMBER ON NO_WRITER=USER_ID
		WHERE NO_SAVE='N'
			<if test="writer != null">
			AND USER_NAME LIKE '%' || #{writer} || '%'
			</if>
			<if test="title != null">
			AND NO_TITLE LIKE '%' || #{title} || '%'
			</if>
			<if test="content != null">
			AND NO_CONTENT LIKE '%' || #{content} || '%'
			</if>
			
	</select>

	<select id="selectNoticeList" resultMap="noticeResultMap" parameterType="Search" resultType="Notice">
		SELECT ROWNUM, NO_NO, NO_TITLE, NO_CONTENT, USER_NAME, NO_DATE, NO_COUNT, NO_ORIGIN, NO_NEW
		FROM NOTICE
        JOIN MEMBER ON NO_WRITER=USER_ID
		WHERE NO_SAVE='N' 
			<if test="writer != null">
			AND USER_NAME LIKE '%' || #{writer} || '%'
			</if>
			<if test="title != null">
			AND NO_TITLE LIKE '%' || #{title} || '%'
			</if>
			<if test="content != null">
			AND NO_CONTENT LIKE '%' || #{content} || '%'
			</if>
			
		ORDER BY NO_NO DESC
	</select>
	
	<update id="getCount" parameterType="_int">
		UPDATE NOTICE
		SET NO_COUNT = NO_COUNT+1
		WHERE NO_NO = #{noticeNo}
		AND NO_SAVE='N'
	</update>
	
	<select id="selectThisNotice" parameterType="_int" resultMap="noticeResultMap">
		SELECT ROWNUM, NO_NO, NO_TITLE, NO_CONTENT, USER_NAME, NO_DATE, NO_COUNT, NO_ORIGIN, NO_NEW
		FROM NOTICE
        JOIN MEMBER ON NO_WRITER=USER_ID
		WHERE NO_NO = #{noticeNo}
		AND NO_SAVE='N'
	</select>
	
	<select id="selectPrevNotice" parameterType="_int" resultMap="noticeResultMap">
		<![CDATA[
		SELECT NO_NO, NO_TITLE
		FROM NOTICE
        JOIN MEMBER ON NO_WRITER=USER_ID
		WHERE NO_NO IN(	SELECT MAX(NO_NO)
						FROM NOTICE
        				JOIN MEMBER ON NO_WRITER=USER_ID
        				WHERE NO_SAVE='N'
        				AND NO_NO < #{noticeNo}
        				)
		]]>
	</select>
	
	<select id="selectNextNotice" parameterType="_int" resultMap="noticeResultMap">
		<![CDATA[ 
		SELECT NO_NO, NO_TITLE
		FROM NOTICE
        JOIN MEMBER ON NO_WRITER=USER_ID
		WHERE NO_NO IN(	SELECT MIN(NO_NO)
						FROM NOTICE
        				JOIN MEMBER ON NO_WRITER=USER_ID
        				WHERE NO_SAVE='N'
        				AND NO_NO > #{noNotice}
        				)
        ]]>
        				
	</select>
	
	<update id="deleteGo" parameterType="_int" >
		UPDATE NOTICE
		SET NO_SAVE='Y'
		WHERE NO_NO=#{noticeNo}
	</update>
	
	<insert id="insertNotice" parameterType="Notice">
		INSERT INTO NOTICE
		VALUES
		(SEQ_NOTICE.NEXTVAL, #{noticeTitle}, #{noticeContent}, SYSDATE,
		#{noticeWriter},DEFAULT, DEFAULT, #{noticeOrigin}, #{noticeNew})
	</insert>
	
	<update id="updateNotice" parameterType="Notice">
		UPDATE NOTICE
		SET NO_TITLE=#{noticeTitle},
			NO_CONTENT=#{noticeContent},
			NO_ORIGIN=#{noticeOrigin},
			NO_NEW=#{noticeNew}
		WHERE NO_NO=#{noticeNo}
		AND NO_SAVE='N'
	</update>
	
	
	
	
	
	
	
	
	
	
	
	<resultMap id="faqResultMap" type="FAQ">
		<id column="F_NO" property="faqNo" />
		<result column="rownum" property="rowNum"/>
		<result column="F_Q" property="faqQuestion"/>
		<result column="F_A" property="faqAnswered" />
		<result column="F_TYPENUM" property="faqType" />
		<result column="F_TYPENAME" property="faqTypeName" />
	</resultMap>
	
	<select id="selectFaqListCount" resultType="_int" parameterType="_int">
		SELECT COUNT(*)
		FROM FAQ
		JOIN FAQ_TYPE ON F_TYPENUM=F_TYPENO
		<if test="fTypeNo != null">
			WHERE F_TYPENUM = #{fTypeNo}
			<if test="fTypeName != null">
			AND F_Q LIKE '%' || #{fTypeName} || '%'
			</if>
		</if>
		
			
	</select>

	<select id="selectFaqList" resultMap="faqResultMap" parameterType="_int" resultType="FAQ">
		SELECT ROWNUM,F_NO, F_Q, F_A, F_TYPENAME
		FROM FAQ
		JOIN FAQ_TYPE ON F_TYPENUM=F_TYPENO
		<if test="fTypeNo != null">
			WHERE F_TYPENUM = #{fTypeNo}
			<if test="fTypeName != null">
			AND F_Q LIKE '%' || #{fTypeName} || '%'
			</if>
		</if>
		ORDER BY F_NO
	</select>
	
	<insert id="insertFaq" parameterType="FAQ">
		INSERT INTO FAQ VALUES
		(SEQ_FAQ.NEXTVAL, #{faqQuestion}, #{faqAnswered},
		#{faqType})
	</insert>
	
	<select id="selectThisFaq" parameterType="_int" resultMap="faqResultMap">
		SELECT ROWNUM,F_NO, F_Q, F_A, F_TYPENAME
		FROM FAQ
		JOIN FAQ_TYPE ON F_TYPENUM=F_TYPENO
		WHERE F_NO = #{faqNo}
	</select>
	
	<update id="updateFaq" parameterType="FAQ">
		UPDATE FAQ
		SET F_Q=#{faqQuestion},
			F_A=#{faqAnswered}
		WHERE F_NO = #{faqNo}
	</update>
	
	<delete id="deleteFaq" parameterType="_int">
		DELETE FROM FAQ
		WHERE F_NO = #{faqNo}
	</delete>
	
	
	
	
	
	
	
	
	<resultMap id="askResultMap" type="Ask">
		<id column="ASK_NO" property="askNo" />
		<result column="ROWNUM" property="rowNum"/>
		<result column="ASK_TITLE" property="askTitle" />
		<result column="ASK_CONTENT" property="askContent" />
		<result column="ASK_ORIGIN_IMG" property="askOriginImg" />
		<result column="ASK_NEW_IMG" property="askNewImg" />
		<result column="USER_NAME" property="askId" />
		<result column="ANSWERED" property="answered" />
		<result column="F_TYPENAME" property="askTypeName" />
		<result column="ASK_DATE" property="askDate" />
		<result column="ASK_STATUS" property="askStatus" />
		<result column="USER_ROLE" property="userRole" />
	</resultMap>
	
	<select id="selectOneListCount" resultType="_int" parameterType="Member" >
		SELECT COUNT(*)
		FROM ASK
        JOIN MEMBER ON ASK_ID=USER_ID
		JOIN FAQ_TYPE ON ASK_TYPENUM=F_TYPENO
		<choose>
			<when test='userRole.equals("D")'>
				WHERE 1=1
			</when>
			<otherwise>
				WHERE USER_ID=#{userId}
			</otherwise>
		</choose>
			
	</select>

	<select id="selectOneList" resultMap="askResultMap" resultType="Ask" parameterType="Member">
		SELECT ROWNUM, ASK_NO, F_TYPENAME, ASK_TITLE, USER_NAME, ASK_DATE, ASK_STATUS, ASK_CONTENT,ANSWERED
		FROM ASK
        JOIN MEMBER ON ASK_ID=USER_ID
		JOIN FAQ_TYPE ON ASK_TYPENUM=F_TYPENO	
		<choose>
			<when test='userRole.equals("D")'>
				WHERE 1=1
			</when>
			<otherwise>
				WHERE USER_ID=#{userId}
			</otherwise>
		</choose>
	</select>
		
	
	<insert id="insertOne" parameterType="Ask">
		INSERT INTO ASK
		VALUES
		(SEQ_ASK.NEXTVAL, #{askTitle}, #{askContent}, #{askOriginImg}, #{askNewImg},
		#{askId},NULL, #{askTypeNo}, SYSDATE, 'N')
	</insert>
	
	
	
	
</mapper>