<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="noticeMapper">

	<resultMap id="noticeResultMap" type="Notice">
		<id column="rownum" property="noticeNo" />
		<result column="no_title" property="noticeTitle" />
		<result column="no_content" property="noticeContent" />
		<result column="no_date" property="noticeDate" />
		<result column="user_name" property="noticeWriter" />
		<result column="no_count" property="noticeCount" />
		<result column="no_save" property="noticeSave" />
		<result column="no_status" property="noticeStatus" />
	</resultMap>
	
	

	<select id="selectNoticeListCount" resultType="_int" parameterType="Search">
		SELECT COUNT(*)
		FROM NOTICE
		JOIN MEMBER ON NO_WRITER=USER_ID
		WHERE NO_SAVE='N'
			<if test="writer != null">
			AND USER_NAME LIKE '%' || #{writer} || '%'
			</if>
			<if test="title != null">
			AND NO_TITLE LIKE '%' || #{title} || '%'
			</if>
			<if test="content != null">
			AND NO_CONTENT LIKE '%' || #{content} || '%'
			</if>
			
	</select>

	<select id="selectNoticeList" resultMap="noticeResultMap" parameterType="Search" resultType="Notice">
		SELECT ROWNUM, NO_TITLE, NO_CONTENT, USER_NAME, NO_DATE, NO_COUNT
		FROM NOTICE
        JOIN MEMBER ON NO_WRITER=USER_ID
		WHERE NO_SAVE='N' 
			<if test="writer != null">
			AND USER_NAME LIKE '%' || #{writer} || '%'
			</if>
			<if test="title != null">
			AND NO_TITLE LIKE '%' || #{title} || '%'
			</if>
			<if test="content != null">
			AND NO_CONTENT LIKE '%' || #{content} || '%'
			</if>
			
		ORDER BY ROWNUM DESC
	</select>
	
	<update id="getCount" parameterType="_int">
		UPDATE NOTICE
		SET NO_COUNT = NO_COUNT+1
		WHERE ROWNUM = #{noticeNo}
		AND NO_SAVE='N'
	</update>
	
	<select id="selectThisNotice" parameterType="_int" resultMap="noticeResultMap">
		SELECT ROWNUM, NO_TITLE, NO_CONTENT, USER_NAME, NO_DATE, NO_COUNT
		FROM NOTICE
        JOIN MEMBER ON NO_WRITER=USER_ID
		WHERE ROWNUM = #{noticeNo}
		AND NO_SAVE='N'
	</select>
	
	<select id="selectPrevNotice" parameterType="_int" resultMap="noticeResultMap">
		<![CDATA[
		SELECT ROWNUM, NO_TITLE
		FROM NOTICE
        JOIN MEMBER ON NO_WRITER=USER_ID
		WHERE ROWNUM IN(	SELECT MAX(ROWNUM)
						FROM NOTICE
        				JOIN MEMBER ON NO_WRITER=USER_ID
        				WHERE NO_SAVE='N'
        				AND ROWNUM < #{noNotice}
        				)
		]]>
	</select>
	
	<select id="selectNextNotice" parameterType="_int" resultMap="noticeResultMap">
		<![CDATA[ 
		SELECT ROWNUM, NO_TITLE
		FROM NOTICE
        JOIN MEMBER ON NO_WRITER=USER_ID
		WHERE ROWNUM IN(	SELECT MIN(ROWNUM)
						FROM NOTICE
        				JOIN MEMBER ON NO_WRITER=USER_ID
        				WHERE NO_SAVE='N'
        				AND ROWNUM > #{noNotice}
        				)
        ]]>
        				
	</select>
	

</mapper>