<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="noticeMapper">

	<resultMap id="noticeResultMap" type="Notice">
		<id column="no_no" property="noticeNo" />
		<result column="no_title" property="noticeTitle" />
		<result column="no_content" property="noticeContent" />
		<result column="no_date" property="noticeDate" />
		<result column="user_name" property="noticeWriter" />
		<result column="no_count" property="noticeCount" />
		<result column="no_save" property="noticeSave" />
		<result column="no_origin" property="noticeOrigin" />
		<result column="no_new" property="noticeNew" />
	</resultMap>
	
	

	<select id="selectNoticeListCount" resultType="_int" parameterType="Search">
		SELECT COUNT(*)
		FROM NOTICE
		JOIN MEMBER ON NO_WRITER=USER_ID
		WHERE NO_SAVE='N'
			<if test="writer != null">
			AND USER_NAME LIKE '%' || #{writer} || '%'
			</if>
			<if test="title != null">
			AND NO_TITLE LIKE '%' || #{title} || '%'
			</if>
			<if test="content != null">
			AND NO_CONTENT LIKE '%' || #{content} || '%'
			</if>
			
	</select>

	<select id="selectNoticeList" resultMap="noticeResultMap" parameterType="Search" resultType="Notice">
		SELECT NO_NO, NO_TITLE, NO_CONTENT, USER_NAME, NO_DATE, NO_COUNT, NO_ORIGIN, NO_NEW
		FROM NOTICE
        JOIN MEMBER ON NO_WRITER=USER_ID
		WHERE NO_SAVE='N' 
			<if test="writer != null">
			AND USER_NAME LIKE '%' || #{writer} || '%'
			</if>
			<if test="title != null">
			AND NO_TITLE LIKE '%' || #{title} || '%'
			</if>
			<if test="content != null">
			AND NO_CONTENT LIKE '%' || #{content} || '%'
			</if>
			
		ORDER BY NO_NO DESC
	</select>
	
	<update id="getCount" parameterType="_int">
		UPDATE NOTICE
		SET NO_COUNT = NO_COUNT+1
		WHERE NO_NO = #{noticeNo}
		AND NO_SAVE='N'
	</update>
	
	<select id="selectThisNotice" parameterType="_int" resultMap="noticeResultMap">
		SELECT NO_NO, NO_TITLE, NO_CONTENT, USER_NAME, NO_DATE, NO_COUNT, NO_ORIGIN, NO_NEW
		FROM NOTICE
        JOIN MEMBER ON NO_WRITER=USER_ID
		WHERE NO_NO = #{noticeNo}
		AND NO_SAVE='N'
	</select>
	
	<select id="selectPrevNotice" parameterType="_int" resultMap="noticeResultMap">
		<![CDATA[
		SELECT NO_NO, NO_TITLE
		FROM NOTICE
        JOIN MEMBER ON NO_WRITER=USER_ID
		WHERE NO_NO IN(	SELECT MAX(NO_NO)
						FROM NOTICE
        				JOIN MEMBER ON NO_WRITER=USER_ID
        				WHERE NO_SAVE='N'
        				AND NO_NO < #{noticeNo}
        				)
		]]>
	</select>
	
	<select id="selectNextNotice" parameterType="_int" resultMap="noticeResultMap">
		<![CDATA[ 
		SELECT NO_NO, NO_TITLE
		FROM NOTICE
        JOIN MEMBER ON NO_WRITER=USER_ID
		WHERE NO_NO IN(	SELECT MIN(NO_NO)
						FROM NOTICE
        				JOIN MEMBER ON NO_WRITER=USER_ID
        				WHERE NO_SAVE='N'
        				AND NO_NO > #{noNotice}
        				)
        ]]>
        				
	</select>
	
	<update id="deleteGo" parameterType="_int" >
		UPDATE NOTICE
		SET NO_SAVE='Y'
		WHERE NO_NO=#{noticeNo}
	</update>
	
	<insert id="insertNotice" parameterType="Notice">
		INSERT INTO NOTICE
		VALUES
		(SEQ_NOTICE.NEXTVAL, #{noticeTitle}, #{noticeContent}, SYSDATE,
		#{noticeWriter},DEFAULT, DEFAULT, #{noticeOrigin}, #{noticeNew})
	</insert>
	
	<update id="updateNotice" parameterType="Notice">
		UPDATE NOTICE
		SET NO_TITLE=#{noticeTitle},
			NO_CONTENT=#{noticeContent},
			NO_ORIGIN=#{noticeOrigin},
			NO_NEW=#{noticeNew}
		WHERE NO_NO=#{noticeNo}
		AND NO_SAVE='N'
	</update>

</mapper>