<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="supportMapper">

	<resultMap id="supportCategoryResultSet"
		type="SupportCategory">
		<id property="suCategoryNo" column="SU_CATEGORY_NO" />
		<result property="suCategoryName" column="SU_CATEGORY_NAME" />
	</resultMap>

	<resultMap id="supportResultSet" type="Support">
		<id property="suNo" column="SU_NO" />
		<result property="suTitle" column="SU_TITLE" />
		<result property="suWriter" column="SU_WRITER" />
		<result property="suStart" column="SU_START" />
		<result property="suLast" column="SU_LAST" />
		<result property="suDate" column="SU_DATE" />
		<result property="content" column="SU_CONTENT" />
		<result property="target" column="SU_TARGET" />
		<result property="bstart" column="SU_BSTART" />
		<result property="blast" column="SU_BLAST" />
		<result property="thumbnailOrigin" column="THUMBNAILORIGIN" />
		<result property="thumbnailChange" column="THUMBNAILCHANGE" />
		<result property="categoryNo" column="SU_CATEGORY" />
		<result property="status" column="SU_SATUTS" />
		<result property="hits" column="HITS" />
		<result property="ddate" column="DDAY" />
		<result property="total" column="TOTAL" />
		<result property="totalamount" column="TOTALAMOUNT" />
		<result property="goal" column="GOAL" />
	</resultMap>

	<resultMap id="supportUsePlanResultSet" type="SupportUsePlan">
		<id property="suNo" column="SU_NO" />
		<result property="upNo" column="UP_NO" />
		<result property="content" column="UP_CONTENT" />
		<result property="amount" column="UP_AMOUNT" />
		<result property="division" column="UP_DIVISION" />
	</resultMap>

	<resultMap id="supportImageResultSet" type="SupportImage">
		<id property="imgNo" column="IMG_NO" />
		<result property="suNo" column="SU_NO" />
		<result property="imgOriginName" column="IMG_ORIGIN_NAME" />
		<result property="imgChangeName" column="IMG_CHANGE_NAME" />
	</resultMap>

	<resultMap id="sponsorResultSet" type="Sponsor">
		<id property="userId" column="USER_ID" />
		<result property="suNo" column="SU_NO" />
		<result property="payNo" column="PAY_NO" />
		<result property="amount" column="PAY_AMOUNT" />
		<result property="total" column="COUNT" />
		<result property="sum" column="SUM" />
		<result property="payDate" column="PAY_DATE" />
	</resultMap>

	<resultMap id="supporCommentResultSet" type="SupporComment">
		<id property="replyNo" column="SC_NO" />
		<result property="replyContent" column="SC_COMMENT" />
		<result property="refBoardNo" column="SU_NO" />
		<result property="replyWriter" column="SC_WRITER" />
		<result property="createDate" column="SC_DATE" />
		<result property="scSatuts" column="SC_STATUS" />
	</resultMap>


	<select id="selectDonationList" resultType="_int">
		SELECT COUNT(*)
		FROM
		SUPPORT
		WHERE SU_SATUTS='Y'
	</select>

	<select id="selectDonationParticipationCount"
		resultType="arrayList">
		SELECT COUNT(*)
		FROM SPONSOR
		GROUP BY SU_NO
	</select>


	<select id="selectDonation" resultMap="supportResultSet">
		SELECT S.SU_NO,
		S.SU_TITLE, S.SU_WRITER, S.SU_START, S.SU_LAST, S.SU_DATE,
		S.SU_CONTENT, S.SU_TARGET, S.SU_BSTART, S.SU_BLAST, S.THUMBNAILORIGIN,
		S.THUMBNAILCHANGE, C.SU_CATEGORY_NAME, S.SU_SATUTS, S.TOTAL,
		S.TOTALAMOUNT,S.GOAL
		FROM SUPPORT S
		JOIN
		SUPPORT_CATEGORY C ON S.SU_CATEGORY = C.SU_CATEGORY_NO
		WHERE
		S.SU_SATUTS='Y'
		ORDER BY SU_NO DESC
	</select>

	<update id="increaseCount" parameterType="_int">
		UPDATE SUPPORT
		SET HITS = HITS+1
		WHERE SU_NO=#{suNo} AND SU_SATUTS='Y'
	</update>
	<select id="selectBoard" parameterType="_int"
		resultMap="supportResultSet">
		SELECT SU_NO,SU_TITLE,SU_WRITER,SU_START,SU_LAST,SU_DATE,SU_CONTENT,
		SU_TARGET,SU_BSTART,SU_BLAST,THUMBNAILORIGIN,THUMBNAILCHANGE,
		SU_CATEGORY,SU_SATUTS,HITS, SU_LAST - SU_START AS DDAY, GOAL,
		TOTALAMOUNT
		FROM SUPPORT
		WHERE SU_NO=#{suNo} AND SU_SATUTS='Y'
	</select>
	<select id="selectSupportUsePlan" parameterType="_int"
		resultMap="supportUsePlanResultSet">
		SELECT *
		FROM SUPPORT_USE_PLAN
		WHERE SU_NO=#{suNo}
	</select>
	<select id="selectSponsor" parameterType="_int"
		resultMap="sponsorResultSet">
		SELECT COUNT(*) COUNT, SUM(PAY_AMOUNT) SUM
		FROM SPONSOR
		GROUP BY SU_NO
		HAVING SU_NO=#{suNo}
	</select>
	<select id="selectSupporComment" parameterType="_int"
		resultMap="supporCommentResultSet">
		SELECT * FROM SUPPORT_COMMENT WHERE SU_NO=#{suNo} ORDER BY 4 DESC
	</select>
	<select id="selectSponsorList" parameterType="_int"
		resultMap="sponsorResultSet">
		SELECT *
		FROM SPONSOR
		WHERE SU_NO=#{suNo}
	</select>

	<select id="selectImageList" parameterType="_int" resultMap="supportImageResultSet">
		SELECT *
		FROM SUPPORT_IMAGE
		WHERE SU_NO=#{suNo}
	</select>
	
	<select id="selectReplyList" resultMap="supporCommentResultSet" parameterType="_int">
		SELECT * 
		FROM SUPPORT_COMMENT 
		WHERE SU_NO = #{suNo}
		AND SC_STATUS='Y'
		ORDER BY SC_DATE DESC 
	</select>

	<insert id="insertReply" parameterType="SupporComment">
		INSERT INTO SUPPORT_COMMENT VALUES(SEQ_SUPPORT_COMMENT.NEXTVAL, #{replyContent}, #{refBoardNo},#{replyWriter}, DEFAULT, DEFAULT) 
	</insert>
	
	<update id="deleteReply" parameterType="_int">
		UPDATE SUPPORT_COMMENT
		SET SC_STATUS='N'
		WHERE SC_NO=#{replyNo}
	</update>
	
	<select id="selectCategoryListCount" resultType="_int">
		SELECT COUNT(*)
		FROM SUPPORT
		WHERE SU_SATUTS='Y'
		AND SU_CATEGORY = #{suCategoryNo}
	</select>
	<select id="selectCategoryList" resultMap="supportResultSet" parameterType="_int">
		SELECT * 
		FROM SUPPORT 
		WHERE SU_CATEGORY = #{suCategoryNo}
		AND SU_SATUTS='Y'
        ORDER BY SU_NO DESC
	</select>
	
	<update id="updateReply" parameterType="SupporComment">
		UPDATE SUPPORT_COMMENT
		SET SC_COMMENT=#{replyContent}
		WHERE SC_NO=#{replyNo}
	</update>
	
	<insert id="insertBoard" parameterType="Support">
		<selectKey keyProperty="suNo" resultType="int" order="AFTER">
			select seq_support.currval from dual
			
		</selectKey>
		insert into SUPPORT(
				SU_NO,SU_TITLE,SU_WRITER,SU_START,SU_LAST,SU_DATE,
				SU_CONTENT,SU_TARGET,SU_BSTART,SU_BLAST,THUMBNAILORIGIN,
				THUMBNAILCHANGE,SU_CATEGORY,SU_SATUTS)
		values
		(	
			seq_support.nextval, #{suTitle}, #{suWriter}, TO_DATE(#{suStart})
			, TO_DATE(#{suLast}), DEAFULT, #{content}, #{target}
			, TO_DATE(#{bstart}), TO_DATE(#{blast}), #{thumbnailOrigin}, #{thumbnailChange}
			,#{categoryNo} ,DEFAULT
		)

	</insert>
		
	<insert id="insertImgList" parameterType="java.util.List">
		insert into SUPPORT_IMAGE(IMG_NO,SU_NO,IMG_ORIGIN_NAME,IMG_CHANGE_NAME)
		<foreach collection="list" item="item" separator=" UNION ALL ">
			select #{item.imgNo},#{item.suNo},#{item.imgOriginName},#{item.imgChangeName} from DUAL
		</foreach>
	</insert>
		
	<insert id="insertUsePlan" parameterType="java.util.List">
		insert into SUPPORT_USE_PLAN(SU_NO,UP_NO,UP_DIVISION,UP_CONTENT,UP_AMOUNT)
		<foreach collection="list" item="item" separator=" UNION ALL ">
			select #{item.suNo},#{item.upNo},#{item.division},#{item.content},#{item.amount} from DUAL
		</foreach>
	</insert>
	

</mapper>
