<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="volunteerMapper">
	<resultMap id="volunteerResultMap" type="Volunteer">
		<id column="VOL_NO" property="volNo"/>
		<result column="VOL_TITLE" property="volTitle"/>
		<result column="VOL_CONTENT" property="volContent"/>
		<result column="VOL_WRITER" property="volWriter"/>
		<result column="VOL_ORIGIN" property="volOrigin"/>
		<result column="VOL_CHANGE" property="volChange"/>
		<result column="VOL_DATE" property="volDate"/>
		<result column="VOL_POINT" property="volPoint"/>
		<result column="VOL_STATUS" property="volStatus"/>
		<result column="VOL_CATEGORY" property="volCategory"/>
		<result column="VOL_COUNT" property="volCount"/>
	</resultMap>
	
	<resultMap id="volunteerReplyResultMap" type="VolunteerReply">
		<id column="VOL_REPLY_NO" property="volReplyNo" />
		<result column="VOL_REF_NO" property="volRefNo" />
		<result column="VOL_REPLY_WRITER" property="volReplyWriter" />
		<result column="VOL_REPLY_CONTENT" property="volReplyContent" />
		<result column="VOL_REPLY_STATUS" property="volReplyStatus" />
		<result column="VOL_REPLY_DATE" property="volReplyDate" />
	</resultMap>
	
	<select id="selectVolunteerListCount" resultType="_int">
		SELECT COUNT(*)
		FROM VOLUNTEER
		WHERE VOL_STATUS = 'Y'
	</select>
	<select id="selectVolunteerList" resultMap="volunteerResultMap">
		SELECT *
		FROM VOLUNTEER
		WHERE VOL_STATUS = 'Y' 
		ORDER BY VOL_NO DESC
	</select>
	 <insert id="insertVolunteer" parameterType="Volunteer">
   		INSERT INTO VOLUNTEER
   		VALUES(
   		SEQ_VOL.NEXTVAL, #{volTitle}, #{volContent},#{volWriter}, #{volOrigin}, #{volChange}, 
   		SYSDATE, DEFAULT ,DEFAULT , #{volCategory}, DEFAULT)
   </insert>
  
   <select id="selectVolunteer" parameterType="_int" resultMap="volunteerResultMap">
    	SELECT *
    	FROM VOLUNTEER
    	WHERE VOL_NO=#{vno} AND VOL_STATUS = 'Y'
   </select>

   <update id="countVolunteer" parameterType="_int">
		UPDATE VOLUNTEER
		SET VOL_COUNT = VOL_COUNT+1
		WHERE VOL_NO = #{vno}

	</update>
   <select id="choseList" resultMap="volunteerResultMap">
   		SELECT *
		FROM VOLUNTEER
		WHERE VOL_STATUS = 'Y' AND VOL_CATEGORY=#{chose}
		ORDER BY VOL_NO DESC
   </select>
   <select id="choseListCount" resultType="_int">
		SELECT COUNT(*)
		FROM VOLUNTEER
		WHERE VOL_STATUS = 'Y' AND VOL_CATEGORY=#{chose}
	</select>
	<select id="sortList" resultMap="volunteerResultMap">
		SELECT *
		FROM VOLUNTEER
		WHERE VOL_STATUS = 'Y' 
	</select>
	<update id="deleteVolunteer" parameterType="_int">
		UPDATE VOLUNTEER 
		SET VOL_STATUS = 'N'
		WHERE  VOL_NO=#{vno}
	</update>
	<update id="updateVolunteer" parameterType="Volunteer">
		UPDATE VOLUNTEER 
		SET VOL_TITLE=#{volTitle}, VOL_CONTENT=#{volContent}, VOL_ORIGIN=#{volOrigin}, 
			VOL_CHANGE=#{volChange}, VOL_CATEGORY=#{volCategory}
		WHERE  VOL_NO=#{volNo}
	</update>
	<select id="searchList" resultMap="volunteerResultMap">
		SELECT *
		FROM VOLUNTEER
		WHERE VOL_STATUS = 'Y' AND VOL_TITLE LIKE '%'||#{keyword}||'%' 
	</select>
	<update id="updatePoint" parameterType="_int">
		UPDATE VOLUNTEER
		SET VOL_POINT = VOL_POINT + 1000
		WHERE VOL_NO=#{vno}
	</update>
	<!-- Reply -->
	<insert id="insertReply" parameterType="VolunteerReply">
		INSERT INTO VOLUNTEER_REPLY
		VALUES (SEQ_VOL_REPLY.NEXTVAL, #{volRefNo}, #{volReplyWriter}, #{volReplyContent}, DEFAULT, SYSDATE)
	</insert>
	<select id="replyList" parameterType="_int" resultMap="volunteerReplyResultMap">
		SELECT *
		FROM VOLUNTEER_REPLY
		WHERE VOL_REF_NO=#{vno} AND VOL_REPLY_STATUS='Y'
		ORDER BY VOL_REPLY_NO DESC
	</select>
	<update id="replyUpdate" parameterType="VolunteerReply">
		UPDATE VOLUNTEER_REPLY
		SET VOL_REPLY_CONTENT=#{volReplyContent}
		WHERE VOL_REPLY_NO=#{volReplyNo}
	</update>
	<update id="deleteReply" parameterType="_int">
		UPDATE VOLUNTEER_REPLY
		SET VOL_REPLY_STATUS = 'N'
		WHERE VOL_REPLY_NO=#{replyNo}
	</update>
</mapper>
