<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>

	<typeAliases>
 		
		<typeAlias type="com.pongsung.donet.event.model.vo.EventReply" alias="EventReply"/>
		<typeAlias type="com.pongsung.donet.event.model.vo.Event" alias="Event" />
		
		<typeAlias type="com.pongsung.donet.volunteer.model.vo.Volunteer" alias="Volunteer" />
		<typeAlias type="com.pongsung.donet.volunteer.model.vo.VolunteerReply" alias="VolunteerReply" />
		
		<typeAlias type="com.pongsung.donet.notice.model.vo.Notice" alias="Notice" />
		<typeAlias type="com.pongsung.donet.notice.model.vo.Search" alias="Search" />
		<typeAlias type="com.pongsung.donet.notice.model.vo.Category" alias="Category" />
		<typeAlias type="com.pongsung.donet.notice.model.vo.FrequentlyAskedQuestions" alias="FAQ" />
		<typeAlias type="com.pongsung.donet.notice.model.vo.Ask" alias="Ask" />
		
		<typeAlias type="com.pongsung.donet.member.model.vo.Member" alias="Member" />
		<typeAlias type="com.pongsung.donet.attendance.model.vo.Attendance" alias="Attendance" />
		
		<typeAlias type="com.pongsung.donet.member.model.vo.Bank" alias="Bank" />
		<typeAlias type="com.pongsung.donet.member.model.vo.Payment" alias="Payment" />
		
		<typeAlias type="com.pongsung.donet.funding.model.vo.FundingFilterOrder" alias="FundingFilterOrder" />

		
		<typeAlias type="com.pongsung.donet.funding.model.vo.Funding" alias="Funding" />
		<typeAlias type="com.pongsung.donet.funding.model.vo.FundingCategory" alias="FundingCategory" />
		<typeAlias type="com.pongsung.donet.funding.model.vo.FundingImage" alias="FundingImage" />
		<typeAlias type="com.pongsung.donet.funding.model.vo.FundingGoods" alias="FundingGoods" />
		<typeAlias type="com.pongsung.donet.funding.model.vo.FundingReply" alias="FundingReply" />
		<typeAlias type="com.pongsung.donet.funding.model.vo.FundingSupporter" alias="FundingSupporter" />
		
		<typeAlias type="com.pongsung.donet.goods.model.vo.Goods" alias="Goods" />
		<typeAlias type="com.pongsung.donet.goods.model.vo.GoodsCategory" alias="GoodsCategory" />
		<typeAlias type="com.pongsung.donet.goods.model.vo.GoodsImage" alias="GoodsImage" />
		<typeAlias type="com.pongsung.donet.goods.model.vo.GoodsPurchase" alias="GoodsPurchase" />
		<typeAlias type="com.pongsung.donet.goods.model.vo.RequiredGoods" alias="RequiredGoods" />
		<typeAlias type="com.pongsung.donet.goods.model.vo.Beneficiary" alias="Beneficiary" />
		<typeAlias type="com.pongsung.donet.goods.model.vo.FilterOrder" alias="FilterOrder" />
		
		
		
		<typeAlias type="com.pongsung.donet.donation.model.vo.Support" alias="Support" />
		<typeAlias type="com.pongsung.donet.donation.model.vo.Sponsor" alias="Sponsor" />
		<typeAlias type="com.pongsung.donet.donation.model.vo.SupportCategory" alias="SupportCategory" />
		<typeAlias type="com.pongsung.donet.donation.model.vo.SupportUsePlan" alias="SupportUsePlan" />
		<typeAlias type="com.pongsung.donet.donation.model.vo.SupporComment" alias="SupporComment" />
		<typeAlias type="com.pongsung.donet.donation.model.vo.SupportImage" alias="SupportImage" />
		<typeAlias type="com.pongsung.donet.donation.model.vo.SupportFilter" alias="SupportFilter" />
	</typeAliases>

	<mappers>
		<mapper resource="/mappers/notice-mapper.xml" />
		<mapper resource="/mappers/event-mapper.xml" />
		<mapper resource="/mappers/member-mapper.xml" />
		<mapper resource="/mappers/funding-mapper.xml" />
		<mapper resource="/mappers/goods-mapper.xml" />
		<mapper resource="/mappers/support-mapper.xml" />		
		<mapper resource="/mappers/volunteer-mapper.xml" />
		<mapper resource="/mappers/attendance-mapper.xml" />
	</mappers>


</configuration>
