<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>

	<typeAliases>
		<typeAlias type="com.pongsung.donet.notice.model.vo.Notice" alias="Notice"/>
		<typeAlias type="com.pongsung.donet.member.model.vo.Member" alias="Member"/>		
		<typeAlias type="com.pongsung.donet.event.model.vo.Event" alias="Event"/>
 		<typeAlias type="com.pongsung.donet.event.model.vo.Attachment" alias="Attachment"/>
		<typeAlias type="com.pongsung.donet.event.model.vo.EventReply" alias="EventReply"/>
		
		<typeAlias type="com.pongsung.donet.notice.model.vo.Notice" alias="Notice" />
		<typeAlias type="com.pongsung.donet.notice.model.vo.Search" alias="Search" />
		<typeAlias type="com.pongsung.donet.notice.model.vo.Category" alias="Category" />
		
		<typeAlias type="com.pongsung.donet.member.model.vo.Member" alias="Member" />
		<typeAlias type="com.pongsung.donet.event.model.vo.Event" alias="Event" />
		<typeAlias type="com.pongsung.donet.funding.model.vo.Funding" alias="Funding" />
		<typeAlias type="com.pongsung.donet.funding.model.vo.FundingCategory" alias="FundingCategory" />
		<typeAlias type="com.pongsung.donet.funding.model.vo.FundingImage" alias="FundingImage" />
		<typeAlias type="com.pongsung.donet.funding.model.vo.FundingGoods" alias="FundingGoods" />
		<typeAlias type="com.pongsung.donet.funding.model.vo.FundingReply" alias="FundingReply" />
		<typeAlias type="com.pongsung.donet.funding.model.vo.FundingSupporter" alias="FundingSupporter" />
		<typeAlias type="com.pongsung.donet.donation.model.vo.Support" alias="Support" />
		<typeAlias type="com.pongsung.donet.donation.model.vo.Sponsor" alias="Sponsor" />
		<typeAlias type="com.pongsung.donet.donation.model.vo.SupportCategory" alias="SupportCategory" />
		<typeAlias type="com.pongsung.donet.donation.model.vo.SupportUsePlan" alias="SupportUsePlan" />


	</typeAliases>

	<mappers>

		<mapper resource="/mappers/notice-mapper.xml"/>
		<mapper resource="/mappers/member-mapper.xml"/>   
		<mapper resource="/mappers/event-mapper.xml"/> 

		<mapper resource="/mappers/notice-mapper.xml" />
		<mapper resource="/mappers/event-mapper.xml" />
		<mapper resource="/mappers/member-mapper.xml" />
		<mapper resource="/mappers/funding-mapper.xml" />
		<mapper resource="/mappers/support-mapper.xml" />


	</mappers>


</configuration>
