<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>

	<typeAliases>
		<typeAlias type="com.pongsung.donet.notice.model.vo.Notice" alias="Notice"/>
		<typeAlias type="com.pongsung.donet.member.model.vo.Member" alias="Member"/>		
		<typeAlias type="com.pongsung.donet.event.model.vo.Event" alias="Event"/>
 

		<typeAlias type="com.pongsung.donet.notice.model.vo.Notice" alias="Notice" />
		<typeAlias type="com.pongsung.donet.member.model.vo.Member" alias="Member" />
		<typeAlias type="com.pongsung.donet.event.model.vo.Event" alias="Event" />
		<typeAlias type="com.pongsung.donet.funding.model.vo.Funding" alias="Funding" />
		<typeAlias type="com.pongsung.donet.funding.model.vo.FundingCategory" alias="FundingCategory" />


	</typeAliases>

	<mappers>

		<mapper resource="/mappers/notice-mapper.xml"/>
		<mapper resource="/mappers/member-mapper.xml"/>   
		<mapper resource="/mappers/event-mapper.xml"/> 

		<mapper resource="/mappers/notice-mapper.xml" />
		<mapper resource="/mappers/event-mapper.xml" />
		<mapper resource="/mappers/member-mapper.xml" />
		<mapper resource="/mappers/funding-mapper.xml" />


	</mappers>


</configuration>
